@font-face {
    font-family: 'yukarimobileregular';
    src: url('yukarimobil-webfont.eot');
    src: url('yukarimobil-webfont.eot?#iefix') format('embedded-opentype'),
         url('yukarimobil-webfont.woff2') format('woff2'),
         url('yukarimobil-webfont.woff') format('woff'),
         url('yukarimobil-webfont.ttf') format('truetype'),
         url('yukarimobil-webfont.svg#yukarimobileregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.homeContent{
	

	
}
.mediaContent{
	
	background-images:("images/A_beautiful_beast-en");
	
}	
body{
	width: 1200px;
	height:720;
	 background-color: rgba(242,235,3,.7);
	/*background-color: rgba(89,182,211,1);*/
	
	
}

h1{
	margin-left: 670px;
	font-family: 'yukarimobileregular';  /* put multiple fonts here */ 

}
h2,h3{
font-family: 'yukarimobileregular';


}	
li {
	float: right;
	margin:5px;


}
nav{
/*position: absolute;
width: 1028px;
height: 131px;
left: 82px;
top: 218px;
background-color:rgb(0,0,0);
	*/
	
	background-color:rgb(0,0,0);
	width: 1100px;
	height: 60px;
	margin-left:190px;
	
}	

li a {
  display: inline;
 /*margin:6px;*/
height: 40px;
background: #59B6D3;	
} 
 

ul{
		list-style-type:none;
		margin-right:40px;
		


}
li a{
/*margin: 3px 0px 6px 6px;	*/
width: 110px;
height: 30px;
background: #59B6D3;
float:left;
text-align:center;	

}	
#ulist{
	
	
/*margin: 3px 0px 6px 6px;*/	
width: 110px;
height: 30px;
background: #59B6D3;


}
.hmeart{

	margin-left: 50px;
	margin-bottom:600px;
	font-size:20px;
	height:120px;
	width:200px;
	font-family: 'yukarimobileregular';
	float:right;
	
}
header{
	width: 240px;
	height: 205px;
	
}
#mediaPG{

width:500px;
height:500px;

}	
	
	
.medart{
	
	margin-left: 50px;
	margin-bottom:600px;
	font-size:20px;
	height:120px;
	width:200px;
	font-family: 'yukarimobileregular';
	float:right;	
	
}	
/*  /////////////////////////////////////// media page starts//////////////////////////////////////////// */

















